<header class="masthead" style="background-image: url('/assets/archive.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Archive</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2>Articles</h2>
      <% Article.all.reverse.each do |article| %>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title archive">
              <%= link_to article.title, article_path(article) %>
            </h2>
          </a>
          <p class="post-meta archive archive-date">Posted on <%= article.created_at.strftime("%B %d, %Y") %></p>
        </div>
      <% end %>
      <hr>
      <h2>Tags</h2>
      <% Tag.all.each do |tag| %>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title archive">
              <%= link_to tag.name, tag_path(tag) %>
            </h2>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
<hr>
