@import 'css/bootstrap.css';
@import 'scss/clean-blog.scss';
/** post subtitles **/

h3.post-subtitle {
  font-weight: normal;
}

.archive-inline {
  display: inline;
}

.input-font-size {
  font-size: 14px;
}

/** forms **/

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

/** Tag Styling **/

.tags {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  background: #ffffff;
  display: inline-block;
  position: relative;
  padding: 4px;
  border-style: solid;
  border-radius: 4px;
  border-color: #666666;
  border-width: medium;
  margin: 0 10px 0 0;
}

/** Styling for blog post images **/

img[alt=blog-image] {
  max-width: 100%;
  display:block;
  margin: 0 auto;
  height: auto;
}

/** Styling for blog post content **/

p {
  text-align: justify;
}


// Styling for the masthead
//Was done in vendor css directly opacity 0.5 to 0.25
